* {
  padding: 0;
  margin: 0;

}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #cfdbe4;
  display: flex;
  flex-direction: center;
  align-items: center;
  padding: 162px 308px 162px 308px;
  max-width: 1400.889px;
  max-height: 700.168px;

}

.form-wrapper {
  max-width: 1140px;
  max-height: 700px;
  flex-shrink: 0;
  border-radius: 50px;
  background: var(--white, #FFF);
  padding: 61px 98px;
  justify-content: center;
  box-shadow: 0px 141px 200px -80px rgba(25, 58, 75, 0.30);
  display: flex;
  gap: 64px;

  justify-content: center;
}

h1 {
  padding-bottom: 23px;
}

.touch {
  color: #6DE1C2;
}

.text {
  color: #000;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.14px;
  max-width: 545px;
  font-weight: 400;
  padding-bottom: 24px;
}

.form-content {
  display: flex;
  height: 56px;
  padding: 12px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding-top: 12px;
}

.input-form {
  border: none;
  border-bottom: 1px solid #8E8E8E;
  padding: 12px 0px;
  width: 548px;
  height: 1px;
  font-size: 16px;
  color: #8E8E8E;
}

.city {
  display: flex;
  justify-content: space-between;
  max-width: 545px;
  gap: 24px;
}

.btn {
  display: flex;
  width: 555px;
  padding: 16px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #0982FE;
  border-style: none;
  color: white;
  font-size: 14px;
  font-weight: 700;
  line-height: 160%;
  /* 22.4px */
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.input-file {
  border: 1px dashed var(--Input-text, #8E8E8E);
  display: flex;
  width: 518px;
  padding: 40px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.postcode {
  max-width: 167px;
}



.icon {
  display: flex;
  align-items: center;
  gap: 50px;
}

.icon-item {
  display: flex;
  gap: 10px;
}

.text2 {
  color: #8E8E8E;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 20.8px */
  letter-spacing: 0.5px;
}

span {
  color: #8E8E8E;
}

::placeholder {
  color: #8E8E8E;
}

.icon-text {
  color: var(--black, #000);
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 153.846% */
  letter-spacing: 0.26px;
}

.icon-information {
  color: #DD5471;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.26px;
}

.gg-maps {
  width: 638px;
  height: 819px;
  flex-shrink: 0;
}